body {
    background-color: aquamarine;
}
p {
    color: rgb(110, 30, 96);
    text-decoration: dashed;
    font-size: 18px;
}
button {
    background-color: hotpink;
    color: black;
    padding: 10px;
    font-size: 20px;
    transition: 2s;
}
button:hover {
    background-color: gray;
}